:root {
  // TYPO
  --font-family-main: 'Arial', sans-serif;
  //SIZE
  --font-size-main: 16px;
  --font-size-h1: 36px;
  --font-size-h2: 24px;

  //COLORS
  --black: #000;
  --white: #fff;

  //width container
  --max-width: 1640px;

  @include mq(768) {
    --font-size-h1: 40px;
    --font-size-h2: 60px;

  }

}