$font-family-main: Arial,
"Times New Roman",
serif;
//SIZE
$font-size-main: 16px;
$font-size-h1: 40px;
$font-size-h2: 32px;
//COLORS
$black: #000;
$white: #fff;

$breakpoints: ("320": 320px, "768": 768px, "1024": 1024px, "1280": 1280px, "1440": 1440px, "1600": 1600px);
//width container
$max-width: 1640px;