<!DOCTYPE html>
<html
  lang="кг"
  dir="ltr"
  itemscope
  itemtype="https://schema.org/WebPage"
  prefix="og:http://ogp.me/ns#"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title><%= title %></title>

    <link rel="canonical" href="<%= url %>" />
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
    <link rel="manifest" href="static/favicon/site.webmanifest">
    <link rel="mask-icon" href="static/favicon/safari-pinned-tab.svg" color="#5bbad5">

    <meta name="application-name" content="<%= title %>" />
    <meta name="author" content="<%= author %>" />
    <meta name="description" content="<%= description %>" />
    <meta name="keywords" content="<%= keywords %>" />
    <meta name="referrer" content="strict-origin" />

    <meta itemprop="name" content="<%= title %>" />
    <meta itemprop="description" content="<%= description %>" />
    <meta itemprop="image" content="static/favicon/android-chrome-192x192.png" />

    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="msapplication-starturl" content="/" />
    <meta name="msapplication-tooltip" content="<%= description %>" />
    <meta name="msapplication-TileColor" content="#f0f0f0" />
    <meta name="msapplication-config" content="browserconfig.xml" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:image" content="static/favicon/android-chrome-512x512.png" />
    <meta property="og:locale" content="en_US" />

    <meta name="twitter:card" content="app" />
    <meta name="twitter:title" content="<%= title %>" />
    <meta name="twitter:description" content="<%= description %>" />
    <meta name="twitter:url" content="<%= url %>" />
    <meta name="twitter:image" content="static/favicon/android-chrome-512x512.png" />

    <meta name="apple-mobile-web-app-title" content="<%= title %>" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#333" />
    <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon.png">

    <meta name="theme-color" content="#f0f0f0" />
    <meta name="color-scheme" content="light" />
    <meta name="mobile-web-app-capable" content="yes" />

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=<%= analytics %>"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', '<%= analytics %>')
    </script>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Webpage",
        "url": "<%= url %>",
        "name": "<%= title %>",
        "headline": "<%= title %>",
        "description": "<%= description %>",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "<%= url %>"
        },
        "publisher": {
          "@type": "Person",
          "name": "<%= author %>"
        },
        "image": {
          "@type": "ImageObject",
          "url": "./icons/logo.png",
          "width": 1024,
          "height": 512
        },
        "datePublished": "<%= publishedDate %>",
        "keywords": "<%= keywords %>"
      }
    </script>
  </head>
  <body>
    <div id="root">
      <% var data = {
        title: "Заголовок | Проект",
      }; %>
      <h1>AAAAA!!!</h1>
      <%= _.template(require('../includes/1.html').default)(data) %>
      <img src="./img/sticker.png" alt="">
    </div>
  </body>
</html>